@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
header {
    height: 40vh;
    display: flex;
    justify-content: top; 
    align-items: center; 
    
}

header::before{
    content: "";
    background-color: #EBCD93;
    background-size: contain;
    height: 45vh;
    width: 98vw;
    display: block;
    position: absolute;
    z-index: -10;
}
 body{
background-color: #F9EBEB;


 }
h1{
    font-family: "Revalia", sans-serif;
    color: #000000;
    font-size: 56px;
    font-weight: 800;
    text-align: center;
    margin: 10px
    ;
    }
    
#cabeçalho {
    
    background-color: #ebce93c4;
    height: 13vh;
    width: 98vw;
    margin-bottom: 3vh;
    
   
   
}
#cabeçalho h2 {
        
        display: inline-block;
        margin-left: 12vw;
        text-align: center;
        margin-right: 10vw; 
        font-family: "Poppins", sans-serif;
        color: #000000;
        font-size: 30px;
        font-weight: 500;
        
}
 
    
   

#produto1 {
    display: flex;
    align-items: flex-start;
}

#produto1 img {
    height: 50vh;
    width: 25vw;
    margin-right: 20px;
    margin-left: 15px;
    align-self: flex-start;
}

#produto1 h2 {
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #000000;
    margin-top: 20px;
   
}
#produto1 p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin-right: 40px;



}
#produto2 {
    display: flex;
    align-items: flex-start;
}
#produto2 img{
    height: 50vh;
    width: 25vw;
    margin-right: 20px;
    margin-left: 15px;
    align-self: flex-start;
    margin-top: 10px;

}
#produto2 h2 {
    font-size: 24x;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #000000;
     margin-top: 20px;
}
#produto2 p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin-right: 40px;
}
#produto3 {
    display: flex;
    align-items: flex-start;
}

#produto3 img {
    height: 50vh;
    width: 25vw;
    margin-right: 20px;
    margin-left: 15px;
    align-self: flex-start;
}

#produto3 h2 {
    font-size: 24px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #000000;
    margin-top: 20px;
   
}
#produto3 p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    margin-right: 40px;



}
#secao-projetos{
    background-color: #9a9ba5;
    height: 78vh;
    
}

.destaq{
 background-color: #9a9ba5;

 height: 40px;
 width: 50vh;
 margin-left: 10vh;

}
.testo h2{
    font-size: 27px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #000000;
   
    text-align: center;


}
#secao-projetos ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.card {
    max-width: 300px;
    height: 420px;
    position: relative;
    cursor: pointer;
}

.image-wrapper {
    margin-top: 20px;
  
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity .5s;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: opacity .5s, top .5s;
}

.card:hover .card-text {
    opacity: 1;
    top: 15%
}

.card:hover .image-wrapper{
    opacity: .3;
}





    



